<button type="button" class="lightsaber" id="lightsaber" aria-label="Activate lightsaber to enter site" title="Activate lightsaber">
  <span class="lightsaber-blade" aria-hidden="true"></span>
  <span class="lightsaber-generator" id="generator">
    <span class="lightsaber-guard" id="guard">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </span>
    <span class="lightsaber-handlestart" id="handlestart">
      <span></span>
      <span></span>
    </span>
    <span class="lightsaber-handle" id="handle">
      <span></span>
      <span></span>
      <span></span><span></span>
      <span></span><span></span>
      <span></span><span></span>
      <span></span><span></span>
      <span></span><span></span>
      <span></span><span></span>
      <span></span><span></span>
      <span class="long"></span>
      <span class="long"></span>
      <span class="box"></span>
    </span>
    <span class="lightsaber-wings">
      <span class="wing wing1"></span>
      <span class="wing wing2"></span>
      <span class="wing wing3"></span>
    </span>
  </span>
</button>
